/* reset browser default values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

/* The web page background color is light grayish green*/
body {
    background-color:bisque;
    /*display: flex;
    flex-wrap: wrap;*/
   
}

/* 1. The header box padding is set to 20 pixels, the font family is defined.
   2. The heading background and text color are defined */
header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color:coral;
    color: #5700bb;
    max-width: inherit;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
}


    
/* Defining the site header font size and display header text horizontally */
 h1 {
    display: inline-block;
    font-size: 48px;
 }
  
/* sub-headers unordered list items text is right aligned and text bolder */
ul {
    text-align: right;
    font-weight: bolder;
    
}
/* unordered list items display and margin settings in the site header */
li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
}
/* text color defined and the underline removed from links */
a {
    color: #5700bb;
    text-decoration: none;
}

/* ssection text font size is defined */
p {
    font-size: 14px;
}

/* top photo hero banner image formatting */

.hero {
    height: 600px;
    width: 100%;
    background-image: url("./images/portfolio_image_4.jpg");
    background-size: cover;
    background-position: center;
    border: 3px solid purple; 
    margin-bottom: 20px;
}
/* flexbox container formatting */

.container {
    width:  100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content:
   /* align-items: center; */
}

/* subheaders image position */
.float-left {
    float: left;
    margin-right: 25px;
}

/* defines display of inserted content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px; 
} 

/* about-me subheader formatting */
.about-me,.projects,.contact-me,.resume {
    margin-bottom: 20px;
    scroll-margin-top: 60px;
    padding: 50px;
    max-width:  100%;
    height: 300px;
    border: 3px solid purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: #8363a7;
    color: #ffffff;
}

.container-2 {/*parent*/
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-around;
    /*align-items: flex-start;*/
    align-items: center;
    align-content:center;
    flex-direction: row; /* direction of boxes */
    gap: 30px; /*display space between boxes */
    margin-bottom: 20px;
     
}
.box-1,.box-2,.box-3{/*children*/
    height: 300px;
    background-color: #8363a7;
    width: 250px;
    border: 2px solid purple;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: rgb(47, 0, 255);
    display: flex;
    /*flex: 0 1 50%;*/
   /* align-self: flex-start; */
}

 .box-1{
background-image: url("./images/fashion_sat2.jpg"); 
color: whitesmoke;
/*flex: 2 1 20em;*/  
}

.box-2{
    background-image: url("./images/perfect-night-in2.jpg");
    color: red; 
    /*flex-grow: 1; */
} 

.box-3{
    background-image: url("./images/givehub.JPG"); 
    /*flex-grow: 1; */
} 

.box-4{ 
    height: 300px;
    background-color: lightgray;
    width: 250px;
    border: 2px solid purple;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: darkolivegreen;
    display: flex;
    /*flex: 0 1 50%;*/
    /* align-self: flex-start; */
}

 
 
/* all subheader margin and font size */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

h3 {
    margin-bottom: 20px;
    font-size: 10px;
}
  
/* all subheader image height and border*/
 img {
    max-height: 200px;
    border: 2px solid orangered; 
 }

 @media screen and (max-width: 768px) {
    body,
    nav{
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container-2, .container {
      flex-direction: column;
    }
  }
 
 /*Tablets -  media query code header
@media screen and (max-width: 992px){
    body,.container-2 {
    max-width: 75%;
   flex-direction: column;
   flex-wrap: wrap;  
   }     
}

/*Tablets -  media query code header
@media screen and (max-width: 992px){
    .box-1 {
    max-width: 75%;
   flex-direction: column;
   flex-wrap: wrap;  
   }     
}

/*Large smartphones -  media query code here 060421
@media screen and (max-width: 768px){
    body {
    max-width: 50;
    flex-direction: column;
    flex-wrap: wrap;   
   }    
} 
/*

/*Large smartphones -  media query code here 060421*/
@media screen and (max-width: 768px){
    nav {
         float: none;
         width: 100%;
        flex-direction: column;
        /*flex-wrap: wrap;*/
    }
}

 /* first line of footer text formatting */
.footer {
    padding: 30px;
    clear: both;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #8363a7;
    text-align: center;
}

/* second footer line font size defined */
.footer h2 {
    font-size: 20px;
    color: #8363a7;
    font-weight: bold; 
 }